html,body, ul, p, a, div, img,form,input,h3,h4,img{
	margin: 0;
	padding: 0;
	box-sizing:border-box;
	font-size: 13px;
}
button{
	margin: 0;
	padding:0;
}
h1{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	color: #666;
}
input{
	outline: none;
	border:1px solid #666;
}
ul{
	list-style: none;
}
.float{
	float: left;
}